<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>GATHER</title>
</head>
<body>
    <div class="col-s-12 col-m-12 Name">GATHER</div>
    <div class = "signINForm">
        <form action="/action_page.php">
                <label for="user">User:</label>
                <input type="text" id="user" name="user" style="margin-left: 2.5%;"><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" value="SIGN IN">
        </form>
    </div>
    
</body>
</html>